.leaflet-legend-control {
    background: white;
    padding: 1em;
    max-height: 130px;
    max-width: 250px;
    overflow: auto;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.leaflet-legend-control ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.leaflet-legend-control ul li img {
    display: inline-block;
    margin-right: 5px;
}

.leaflet-legend-control ul li span {
    vertical-align: top;
    line-height: 22px;
}

.leaflet-legend-control ul ul {
    margin-left: 15px;
}